body{
  text-align: center;
  font-family: cursive;
  line-height: 10vh;
  background-color: purple;
  color: white;
}

button{
  background-color: #fff;
  border: none;
  padding: 0.7rem;
  border-radius: 5px;
  margin-left: 1rem;
  cursor: pointer;
  font-family: sans-serif;
  color: purple;
  font-size: 1rem;
  transition: 0.5s;
}

button:hover{
  background-color: purple;
  color: #fff;
}