.home{
    width: 100%;
    height: 657px;
    background-color: white;
}

.home nav{
    width: 100%;
    height: auto;
    margin: auto;
    background-color: purple;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    box-shadow: 0px 1px 3px rgb(141, 145, 145);
}

.home-profile{
    width: 30%;
    height: auto;
    box-sizing: border-box;
}

.home-profile img{
    width: 70px;
    height: 70px;
    border-radius: 50px;
}

.home-navi{
    width: 60%;
    height: auto;
    box-sizing: border-box;
}

.home-navi h1{
    font-family: cursive;
    font-size: 2rem;
    color: white;
    padding-top: 1rem;
}

