/* .manu{
    width: 20%;
    height: auto;
    padding-top: 10px;
    background-color: #f2f3f5;
    box-sizing: border-box;
} */

.manu-flex{
    width: 100%;
    height: auto;
    display: flex;
    padding-left: 20px;
    padding-right: 25px;
    margin-top: 5px;
    margin-bottom: 5px;
    transition: 0.5s;
    box-sizing: border-box;
}


.manu-flex img{
    height: 30px;
    padding-top: 3px;
}

.manu-flex h1{
    font-family: sans-serif;
    font-size: 15px;
    /* padding-top: 3px; */
    margin-left: 5px;
    /* padding-right: 10px; */
    color: #646161;

}

.manu-flex:hover{
    /* border: solid 1px red; */
    background-color: #cccccc;
    border-radius: 10px;
    cursor: pointer;
}